@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
main {
  width: 100%;
  height: 100%;
  display: flex;
}

h1,
h2,
h3,
h6 {
  margin: 0;
}

input {
  all: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  background-color: #FEAF00;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 475px;
  height: 550px;
  padding-top: 22px;
  box-sizing: border-box;
  padding-bottom: 9px;
  background-color: #FFFFFF;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.form__all-inputs {
  display: flex;
  flex-direction: column;
  height: 252px;
  justify-content: space-around;
  padding-top: 14px;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6C6C6C;
}
.form__title {
  padding-left: 10px;
  padding-right: 18px;
  border-left: 6px solid #F8D442;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.form__subtitle {
  margin-top: 15px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.form__explanation {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6C6C6C;
}
.form__hint {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6C6C6C;
}
.form__link {
  color: #FEAF00;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.form__input {
  width: 415px;
  height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}
.form__input--button {
  padding-left: 0;
  background-color: #FEAF00;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.sidebar {
  width: 270px;
  height: 900px;
  padding-top: 20px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F2EAE1;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000000;
  box-sizing: border-box;
}
.sidebar__logo {
  padding-left: 5px;
  border-left: 4px solid #F8D442;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
}
.sidebar__user {
  width: 141px;
  height: 198px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sidebar__photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
.sidebar__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}
.sidebar__status {
  color: #FEAF00;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.sidebar__list {
  height: 340px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar__item {
  width: 193px;
  height: 41px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
}
.sidebar__item:hover {
  background-color: #FEAF00;
}
.sidebar__img {
  width: 19px;
  height: 17px;
  margin-right: 15px;
}
.sidebar__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.sidebar__links-container {
  margin-top: 124px;
  padding-left: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__arrow-next {
  margin-left: 23px;
}

.information {
  width: 1170px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.information__forms-container {
  width: 1170px;
  height: 60px;
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.information__input {
  width: 212px;
  height: 37px;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 5px;
}
.information__bell-button {
  width: 17px;
  height: 20px;
}
.information__inputs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 307px;
}
.information__list {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.information__item {
  width: 255px;
  height: 157px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #6C6C6C;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.information__item-blue {
  background-color: #F0F9FF;
}
.information__item-pink {
  background-color: #FEF6FB;
}
.information__item-orange {
  background-color: #FEFBEC;
}
.information__item-gradient {
  background: linear-gradient(110.42deg, #FEAF00 18.27%, #F8D442 91.84%);
  color: #FFFFFF;
}
.information__img-hat {
  width: 48px;
  height: 28px;
  margin-bottom: 18px;
  filter: invert(71%) sepia(30%) saturate(689%) hue-rotate(166deg) brightness(97%) contrast(91%);
}
.information__img-bookmark {
  width: 28px;
  height: 35px;
  margin-bottom: 18px;
  filter: invert(73%) sepia(80%) saturate(437%) hue-rotate(285deg) brightness(98%) contrast(90%);
}
.information__img-dollar {
  width: 35px;
  height: 35px;
  margin-bottom: 18px;
  filter: invert(78%) sepia(36%) saturate(647%) hue-rotate(351deg) brightness(101%) contrast(93%);
}
.information__img-human {
  width: 34px;
  height: 34px;
  margin-bottom: 18px;
}
.information__quantity {
  margin-top: 12px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  align-self: flex-end;
}
.information__quantity--small {
  font-size: 20px;
}