@import 'colors';

.functions {
  position: relative;
  padding: 67px 161px 0 134px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  color: $light-gray;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1211px;
    height: 620px;
    backdrop-filter: blur(20px);
    background: linear-gradient(35deg, rgba(255, 89, 248, 0.04) 0%,
        rgba(174, 114, 255, 0.04) 19.79%,
        rgba(144, 233, 237, 0.04) 40.62%,
        rgba(92, 209, 103, 0.04) 61.98%,
        rgba(255, 238, 0, 0.04) 82.53%);
    border-radius: 70px;
    z-index: 2;
  }

  &__decoration-sphere {
    width: 199px;
    height: 199px;
    position: absolute;
    top: -100px;
    right: 202px;
    z-index: 1;
  }

  &__decoration-left-cylinder {
    width: 91px;
    height: 125px;
    position: absolute;
    top: 225px;
    left: -50px;
    z-index: 1;
  }
  
  &__decoration-right-cylinder {
    width: 141px;
    height: 231px;
    position: absolute;
    top: 435px;
    right: -50px;
    z-index: 1;
  }

  &__title {
    position: relative;
    width: 345px;
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $black;
    z-index: 3;
  }
  
  &__title-decorated {
    color: $dark-purple;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 67px;
    z-index: 3;
  }
  
  &__img {
    width: 74px;
    height: 80px;
  }
  
  &__img--small-height {
    height: 74px;
  }

  &__item {
    width: 274px;
    margin-right: 57px;
    padding-bottom: 134px;

    &:last-child {
      margin-right: 0;
    }
  }
  
 
  
  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black;
  }

  &__number {
    margin-right: 50px;
    color: #7421B0;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  
  &__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
  }
}















@media screen and (max-width: 960px) {
  .functions {
    width: 100%;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    &__list {
      flex-direction: column;
      align-items: center;
      margin-top: 76px;
    }
  
    &::after {
      width: 730px;
      height: 1025px;
      margin-left: 45px;
      box-sizing: border-box;
    }
  
    &__title {
      width: 286px;
      margin-left: 12%;
      margin-top: 8%;
      font-size: 20px;
      line-height: 24px;
    }

    &__description {
      font-size: 14px;
    }
  
    &__subtitle {
      margin: 0;
      font-size: 18px;
      line-height: 21px;
    }
  
   &__number {
      font-size: 20px;
      line-height: 24px;
    }

    &__img {
      width: 90px;
      height: 90px;
    }
  
    &__item {
      display: flex;
      width: 575px;
      margin-right: 0;
      padding-bottom: 0;
      margin-bottom: 66px;
      justify-content: space-between;
    }
  
    &__information {
      width: 442px;
    }
  
    &__decoration-sphere {
      width: 151px;
      height: 147px;
      top: -59px;
      right: 103px;
    }

    &__decoration-left-cylinder {
      width: 105px;
      height: 152px;
    }
  
    &__decoration-right-cylinder {
      width: 154px;
      height: 226px;
    }
  }
}

@media screen and (max-width: 414px) {
  .functions {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  
    &__information {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 344px;
      margin-top: 30px;
      text-align: center;
    }
  
   &__description {
      font-size: 12px;
    }
  
    &__subtitle {
      width: fit-content;
    }
  
    &__break {
      display: none;
    }
  
    &__list {
      padding-left: 0;
      margin-top: 12px;
    }
  
    &::after {
      width: 100%;
      height: 1215px;
      margin-left: 0;
      border-radius: 35px;
    }
  
    &__number {
      margin-right: 31px;
      margin-left: 20px;
    }
  
    &__decoration-left-cylinder,
    &__decoration-right-cylinder {
      display: none;
    }
  
    &__title {
      margin-left: 0;
      margin-top: 12%;
      text-align: center;
    }
  
    &__decoration-sphere {
      width: 75px;
      height: 72px;
      top: -37px;
      right: 45px;
    }
  }
}
